.financial-table-content {
  max-height: 700px;
  width: 75%;
  margin: 20px;

  .financial-table {
    display: flex;
    flex-wrap: wrap;

    &--share {
      font-size: 16px;
      cursor: pointer;
    }

    &__header {
      width: 100%;

      &--title {
        width: 50%;
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;

        .edit-title {
          margin-left: 10px;
          font-size: 16px;
          font-weight: normal;
          cursor: pointer;
        }
      }

      &--date-pick {
        width: 100%;
        padding: 20px 0;
      }

      &--controllers {
        width: 100%;
        padding: 20px 0;
        cursor: pointer;
      }
    }

    &__main {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      max-height: 300px;
      overflow-y: auto;

      &--list {
        display: flex;
        width: 100%;
        justify-content: space-between;

        > div {
          width: 45%;
        }
      }
    }
  }
}
