.signup {
  width: 50%;
  margin: auto;

  h1 {
    margin-top: 0;
  }

  form {
    fieldset {
      border: none;
      padding: 0;
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;

      label {
        width: 100%;
        margin-bottom: 10px;

        span {
          color: red;
        }
      }

      input {
        width: 100%;
        padding: 10px;
        background: white;
        border: 1px solid gray;
        border-radius: 4px;

        &:focus {
          outline: none;
        }
      }
    }

    .submit-btn {
      button {
        border: none;
        display: block;
        margin-left: auto;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: rgb(161, 208, 247);
        color: white;
        font-size: 18px;
        font-weight: 600;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: rgb(103, 177, 238);
        }
      }
    }
  }
}
