.main-navigation {
  margin-left: auto;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &--link {
    padding: 10px 5px;
    margin: 5px 10px;
    width: 100%;
    border-bottom: 3px solid transparent;
    transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out;

    &.active-link {
      border-bottom: 3px solid rgb(161, 208, 247);
    }

    &:hover {
      background-color: white;
      border-bottom: 3px solid rgb(161, 208, 247);
    }

    a {
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      color: black;
      display: block;
      position: relative;
      padding: 4px 0;
    }

    div {
      cursor: pointer;
    }
  }
}
