.notifications {
  display: flex;
  position: relative;
  margin: 20px 20px 20px 0;
  background: white;
  padding: 20px;
  border-radius: 13px;
  height: fit-content;
  width: 100%;
  max-width: 250px;

  &__controller {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__list {
    position: absolute;
    top: 90px;
    background: white;
    padding: 20px;
    width: 100%;
    left: 0;
    border-radius: 13px;
    height: fit-content;
  }
}
