.popup-container,
.new-income-popup,
.new-outgoing-group-popup,
.new-outgoing-popup {
  position: fixed;
  background: white;
  width: 45%;
  left: 5%;
  padding: 60px;
  border-radius: 13px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  top: 310px;
  border: 2px solid rgb(161, 208, 247);

  &--close {
    position: absolute;
    right: 60px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }

  &--title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    fieldset {
      border: none;
      padding: 0;
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;

      label {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
      }

      input {
        padding: 5px 10px;
        font-size: 16px;
        height: 40px;
      }

      button {
        height: 40px;
        border: none;
        padding: 10px 15px;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          background-color: rgb(161, 208, 247);
          color: white;
        }
      }
    }
  }
}
